.error,.login-box-body .has-error .form-control{
    color: #a94442;
}
.glyphicon-remove:before{
    content: "\e014";
}
.glyphicon-ok:before {
    content: "\e013";
}
.error::-webkit-input-placeholder { /* WebKit browsers*/
    　　color:#999;font-size:14px;
}
.error:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
    　　color:#999;font-size:14px;
}
.error::-moz-placeholder {  /* Mozilla Firefox 19+*/
    　　color:#999;font-size:14px;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+*/
    　　color:#999;font-size:14px;
}
.margin-right{
    margin-right: 10px;
}

.ztree * {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00a65a;
    border-color: #00a65a;
    padding: 1px 10px;
    color: #fff;
}

table.treetable {
    border: none;
    border-collapse: collapse;
    font-size: 1.3em;
    line-height: 1;
    margin: .6em 0 1.8em 0;
    width: 100%;
}
.content{
    position: relative;
}

.tree-select-modal .modal,.icons-select-modal .modal {
    background: transparent !important;
    position: absolute;
    display: block;
}

.tree-select-modal .ztree{
    height: 240px;
    overflow-y: scroll;
}
.tree-select-modal  .modal-dialog,.icons-select-modal .modal-dialog {
    width: 355px;
}

.input-group button{
    float: right;
}

.modal-dialog .font-awesome-icon-list{
    height: 250px;
    width: 360px;
    overflow-y: scroll;
}
.font-awesome-icon-list i{
    cursor: pointer;
}
.radio-group label{
    margin: 5px 5px;
}

.small-box h3 {
    white-space: normal;
}
#tipper{
    position: absolute;
    z-index: 1000;
    top: 250px;
}