<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sword.admin.mapper.MenuMapper">

    <sql id="allColumns">
   			m.*
    </sql>

    <select id="getByRoleId" resultType="com.sword.admin.entity.Menu">
        SELECT
        <include refid="allColumns"/>
        FROM
        sys_menu m
        LEFT OUTER JOIN sys_role_menu rm on (m.id = rm.menu_id)
		WHERE rm.role_id = #{roleId}

    </select>

    <select id="getByUserId" resultType="com.sword.admin.entity.Menu">
        SELECT
        <include refid="allColumns"/>
        FROM
        sys_menu m
        LEFT OUTER JOIN sys_role_menu rm on (m.id = rm.menu_id)
        LEFT OUTER JOIN sys_user_role ur on (rm.role_id = ur.role_id)
        WHERE ur.user_id = #{userId}
    </select>


    <select id="getByPermissionAndUserId" resultType="com.sword.admin.entity.Menu">
        SELECT
        <include refid="allColumns"/>
        FROM
        sys_menu m
        LEFT OUTER JOIN sys_role_menu rm on (m.id = rm.menu_id)
        LEFT OUTER JOIN sys_user_role ur on (rm.role_id = ur.role_id)
        WHERE ur.user_id = #{userId} AND m.permission = #{permission}
    </select>


    <select id="getTopByUserId" resultType="com.sword.admin.entity.Menu">
        SELECT
        <include refid="allColumns"/>
        FROM
        sys_menu m
        LEFT OUTER JOIN sys_role_menu rm ON (m.id = rm.menu_id)
        LEFT OUTER JOIN sys_user_role ur ON (rm.role_id = ur.role_id)
        WHERE ur.user_id = #{userId} AND  m.parent_id = 'NO' OR m.parent_id IS NULL ORDER BY m.sort DESC
    </select>

    <select id="getByUserIdAndParentId" resultType="com.sword.admin.entity.Menu">
        SELECT
        <include refid="allColumns"/>
        FROM
        sys_menu m
        LEFT OUTER JOIN sys_role_menu rm ON (m.id = rm.menu_id)
        LEFT OUTER JOIN sys_user_role ur ON (rm.role_id = ur.role_id)
        WHERE ur.user_id = #{userId} AND m.parent_id = #{parentId} ORDER BY m.sort DESC
    </select>

</mapper>


