<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sword.admin.mapper.UserMapper">

    <sql id="allColumns">
    	u.id,
    	u.department_id,
    	u.major_id ,
    	u.login_name ,
    	u.password,
    	u.no,
		u.name,
		u.email,
		u.phone,
		u.mobile,
		u.user_type ,
		u.login_ip ,
		u.login_date ,
		u.remarks,
		u.login_flag,
		u.photo,
		u.create_by ,
		u.create_date,
		u.update_by,
		u.update_date ,
		u.del_flag
    </sql>

   <sql id="joinColumns">
       LEFT OUTER JOIN sys_organization d ON (u.department_id = d.id)
       LEFT OUTER JOIN sys_organization m ON (u.major_id = m.id)
   </sql>
    
    
    <select id="getDatableUsers" resultType="com.sword.admin.response.entity.DataTableUser" >

        SELECT
        <include refid="allColumns"/>
		,d.name as department_name,
		m.name as major_name
        FROM
        sys_user u
        <include refid="joinColumns"/>
        WHERE 1=1
		<if test="searchValue != null">
			<bind name="pattern" value="'%' + searchValue + '%'" />
			AND (
			u.login_name LIKE #{pattern} OR u.mobile LIKE #{pattern} OR u.email like #{pattern}
			)
		</if>
		ORDER BY create_date DESC
		limit #{offset},#{limit}
	</select>


    <select id="getDatableUsersTotalCount" resultType="java.lang.Long" >
        SELECT
        COUNT(1)
        FROM
        sys_user u
		WHERE 1=1
		<if test="searchValue != null">
			<bind name="pattern" value="'%' + searchValue + '%'" />
			AND (
			u.login_name LIKE #{pattern} OR u.mobile LIKE #{pattern} OR u.email like #{pattern}
			)
		</if>
    </select>

	<insert id="insertUserRole" parameterType="com.sword.admin.entity.UserRole">
		insert into sys_user_role (user_id,role_id)
		value(#{userRole.userId},#{userRole.roleId})
	</insert>

	<insert id="updateUserRole" parameterType="com.sword.admin.entity.UserRole">
		UPDATE sys_user_role
		SET role_id = #{userRole.roleId}
		WHERE user_id = #{userRole.userId}
	</insert>

	<insert id="insertUserRoleBatch" parameterType="com.sword.admin.entity.UserRole">
		insert into sys_user_role (user_id,role_id)
		values
		<foreach collection="userRoles" item="userRole" index="index" separator="," >
		(#{userRole.userId},#{userRole.roleId})
		</foreach>
	</insert>

	<select id="getByRoleName" resultType="com.sword.admin.entity.User">
		SELECT
		<include refid="allColumns"/>
		FROM
		sys_user u
		LEFT OUTER JOIN sys_user_role ur ON (u.id = ur.user_id)
		LEFT OUTER JOIN sys_role r ON (ur.role_id = r.id)
		WHERE r.name = #{roleName}
	</select>
</mapper>


